/* ==========================================================================
   Modules
   ========================================================================== */


.card-container {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 600px;
	margin-top: 60px;
	border-radius: 10px;
	background-color: $white;
}

.card-header {
	position: relative;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 150px;
	padding: 10px 20px;
	background-color: $main-color;

	& h3 {
		position: absolute;
		bottom: 0;
		color: $white;
		font-size: 24px;
	}
}
.buckets {
	margin-top: 20px;
}

.bucket {
	position: relative;
	text-align: right;
	margin-bottom: 5px;
	padding: 0 20px;

	& li {
		position: relative;
		display: inline-block;
	}

	& .name {
		position: absolute;
		left: 20px;
		bottom: 10px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
	}

	& .width {
		width: 150px;
		@include box-shadow(0, -2px, 0, rgba(149, 165, 166, 1.0), inset);

		& input,
		& label {
			display: block;
			font-size: 36px;
			line-height: 36px;
			margin: 0;
			border: 0;
			border-bottom: 2px solid transparent;
			text-align: left;
			padding: 5px;
		}

		& input {
			position: relative;
			width: 100%;
			opacity: 0;
			z-index: 3;
		}

		& input:focus {
			opacity: 1;
			outline: none;
			border-bottom: 2px solid;
			background-color: #f6f9ff;
		}

		& label {
			position: absolute;
			bottom: 0;
			z-index: 1;
		}

		& label::after {
			content: 'px';
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			display: block;
			bottom: 8px;
			left: 100%;
			color: #838383;
		}
	}

	& span {
		font-weight: normal;
		font-style: italic;
		color: #838383;
	}
}

.buckets .width input:focus {
		color: $main-color;
		border-color: $main-color;
}

.buckets .bucket-base > .name::before,
.detector::before {
		content: '';
		display: inline-block;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		margin-right: 5px;
		background-color: $main-color;
}

.detector {
	position: absolute;
	bottom: 0;
	color: $black;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	margin-left: 20px;
}

/**
 * Extend button expamle
 */


%btn-base {
}

.btn {
    @extend %btn-base;
}

.btn__submit-form {
    @extend %btn-base;
    position: absolute;
    top: 0;
    right: 0;
}
